@model IEnumerable<Categoria>
@{
    ViewData["Title"] = "Index";
}

@if(TempData["success"] != null)
{
    <h2>@TempData["success"]</h2>
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Lista de Categorias</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Categoria" asp-action="Criar" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Criar Nova Categoria
            </a>
        </div>
    </div>
    <br /><br />


<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Nome da Categoria
            </th>
            <th>
                Ordem de Exibição
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td width="50%">
                    @obj.Nome
                </td>
                <td width="30%">
                    @obj.OrdemExibicao
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Categoria" asp-action="Editar" asp-route-id="@obj.Id"
                        class="btn btn-primary mx-2"> <i class="bi bi-pencil-square"></i> Editar</a>
                        <a asp-controller="Categoria" asp-action="Deletar" asp-route-id="@obj.Id"
                        class="btn btn-danger mx-2"> <i class="bi bi-trash-fill"></i> Deletar</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
